html {
  background-color: rgb(211, 104, 104);
}

body {
  text-align: left;
  font-family: Verdana;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

h2 {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

a {
  color: aquamarine;
}
