html {
  background-color: black;
}

body {
  text-align: center;
  font-family: Verdana;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

a {
  color: aquamarine;
}

main {
  margin-top: 20px;
}
